<div id='login-form'>
  <h2>Log In</h2>


  <%= form_tag log_in_path do%>
    Email: <%= text_field_tag :email %><br>
    Password: <%= password_field_tag :password %><br>

    <div class='errors'><%= "Incorrect email or password." if errors.include? :authenticate %></div>

    <%= submit_tag "Log in" %>
  <%end%>

  <div id="signup_link"><%= link_to 'Sign Up', new_user_path %></div>
</div>
