<script type="text/javascript">
  var START = "<%= j @start %>";
  var END = "<%= j @end %>";
  var PITSTOP = "<%= j @pitstop %>";
</script>

<div id="map_canvas" class="large-8 columns"></div>

<div id='attractions_panel' class="small-12 large-4 columns ">
  <h3><%= @start.upcase %> —> <%= @end.upcase %></h3>

  <div class="small-6 columns counter">
    <div id="distance-counter"></div>
    <div id="duration-counter"></div>
  </div>

  <div class="small-6 columns">
  <a href='trips' id='save-trip-button'><button>Save Trip</button></a><br><br>
  </div>

  <ul id='attraction-list' class="small-12 columns">
  </ul>

</div>
