<div class="full_width bar">
  <h2>My Travel Profile</h2>
</div>

<div class="small-12 small-centered columns profile">

  <div class="small-12 large-5 columns interests">

  <h3>Interests</h3>

    <p>Choose your own adventure by telling us more about what you like on the road!</p>

    <%= form_tag users_profile_path, method: :post do |f| %>

      <div class='success'><%= "Profile updated." if success? %></div>

      <%= render partial: 'interests' %>

      <%= submit_tag "Update", :class => "submit"  %>

    <% end %>

  </div>

<%= render partial: 'user_trips' %>

</div>